[submodule "spitfire"]
	path = spitfire
	url = ssh://git@phabricator.magic3w.com/source/spitfire.git
[submodule "_SCSS"]
	path = assets/scss/_
	url = ssh://git@phabricator.magic3w.com/source/underscoreSCSS.git
[submodule "m3JS"]
	path = assets/js/m3
	url = ssh://git@phabricator.magic3w.com/source/M3JS.git
