/*
The MIT License

Copyright 2019 César de la Cal Bretschneider <cesar@magic3w.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/*
    Created on : Aug 7, 2019, 9:23:25 AM
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/

@import 'loot/_color.scss';
@import '_/_.scss';
@import 'loot/_badge.scss';
@import 'loot/_text.scss';
@import 'loot/_pagination.scss';
@import 'ui/_dropdown.scss';

html {
	background-color: #FAFAFA;
	color: $grey100;
}

h2 {
	color: $grey400;
}

a {
	color: $blue500;
	text-decoration: none;
}

.material {
	background: #FFF;
	border-radius: .4rem;
	border: solid 1px $grey800;
	//box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.13), -1px -1px 5px rgba(0, 0, 5, 0.07);
	padding: 2rem 3rem;
	
	&.unpadded {
		padding: 0;
	}
	
	&.less-padded {
		padding: 1rem 1.5rem;
	}
	
	&.rounded {
		border-radius: .6rem;
	}
	
	&.unshaded {
		box-shadow: none;
	}
	
	&.bordered {
		border: .1rem solid $grey600;
		
		&.active {
			border: .075rem solid $purple300;
		}
	}
	
	.padded {
		padding: 20px 15px 15px;
	}
	
	.darkened {
		background: #EEE;
	}
}

footer {
	padding-top: 1rem;
	font-size: .8rem;
	color: #777;
}

.button {
	background: linear-gradient(90deg, #396afc, #2948ff);
	border-radius: 4px;
	padding: .6rem 1.4rem ;
	color: #FFF;
	font-weight: bolder;
	box-shadow: 2px 1px 3px rgba(0, 0, 0, .3);
	text-decoration: none;
	
	&.success {
		background: linear-gradient(-90deg, #2FAD30, #35C537);
	}
	
	&.borderless {
		background: none;
		color: #652CA5;
		font-weight: bold;
		box-shadow: none;
	}
}

.separator {
	border-top: solid 1px #C1C8CD;
}

.notification-indicator {
	display: inline-block;
	position: relative;
	
	.badge {
		position: absolute;
		top: 0;
		left: 0;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		padding: 0;
		font-size: 0;
		border: solid 2px #eef1f6;
		background: #F00;
			
		&[data-ping-amt="0"] {
			background: $grey400;
		}
	}
	
	&.static .badge {
		position: static;
	}
	
	&.right .badge {
		right: 0;
	}
}

blockquote
{
	padding: .7rem 1rem;
	font-style: italic;
	border-left: solid 2px $grey500;
	color: $grey300;
}